.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-group-1 {
  height: auto;
  width: 915px;
  min-height: 72px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-table-1 {
  width: 915px;
  margin: 0 auto;
}

.u-block-3015-18 {
  font-weight: 700;
}

.u-block-3015-24 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 700;
  line-height: 0.6;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  padding: 30px;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  padding: 30px;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  padding: 30px;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  padding: 30px;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  padding: 30px;
}

.u-block-3015-53 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-cell-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-cell-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-cell-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-cell-30 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 1972px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 68px auto 0 calc(((100% - 1140px) / 2)  + 116px);
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -21px 169px 0 calc(((100% - 1140px) / 2)  + 832px);
}

.u-section-2 .u-table-1 {
  width: calc(((100% - 1140px) / 2)  + 545px);
  margin: 18px auto 0 0;
}

.u-block-296c-4 {
  font-weight: 700;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-15 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-35 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-39 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-44 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-46 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-47 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-48 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-50 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-51 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-52 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-53 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-54 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-55 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-56 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-57 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-58 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-59 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-60 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-61 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-62 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-63 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-64 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-65 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-66 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-67 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-68 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-69 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-70 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-71 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-72 {
  font-weight: 700;
}

.u-block-296c-25 {
  height: 46px;
}

.u-section-2 .u-table-2 {
  width: 600px;
  margin: -650px calc(((100% - 1140px) / 2)  + -14px) 0 auto;
}

.u-block-296c-105 {
  font-weight: 700;
}

.u-section-2 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-82 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-83 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-84 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-85 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-86 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-87 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-88 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-89 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-90 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-91 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-92 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-93 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-94 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-95 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-96 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-97 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-98 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-99 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-100 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-101 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-102 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-103 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-104 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-105 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-106 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-107 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-108 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-109 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-110 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-111 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-112 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-113 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-114 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-115 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-116 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-117 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-118 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-119 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-120 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-121 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-122 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-123 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-124 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-125 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-126 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-127 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-128 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-129 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-130 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-131 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-132 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-133 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-134 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-135 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-136 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-137 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-138 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-139 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-140 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-141 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-142 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-143 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-144 {
  font-weight: 700;
}

.u-block-296c-195 {
  height: 46px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 274px auto 0 calc(((100% - 1140px) / 2)  + 136px);
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -12px 155px 0 calc(((100% - 1140px) / 2)  + 794px);
}

.u-section-2 .u-table-3 {
  width: 595px;
  margin: 46px calc(((100% - 1140px) / 2)  + -10px) 0 auto;
}

.u-block-296c-307 {
  font-weight: 700;
}

.u-section-2 .u-table-header-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-154 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-155 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-156 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-157 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-158 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-159 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-160 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-161 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-162 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-163 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-164 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-165 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-166 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-167 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-168 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-169 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-170 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-171 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-172 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-173 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-174 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-175 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-176 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-177 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-178 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-179 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-180 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-181 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-182 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-183 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-184 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-185 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-186 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-187 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-188 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-189 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-190 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-191 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-192 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-193 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-194 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-195 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-196 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-197 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-198 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-199 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-200 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-201 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-202 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-203 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-204 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-205 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-206 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-207 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-208 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-209 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-210 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-211 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-212 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-213 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-214 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-215 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-216 {
  font-weight: 700;
}

.u-block-296c-397 {
  height: 46px;
}

.u-section-2 .u-table-4 {
  width: calc(((100% - 1140px) / 2)  + 547px);
  margin: -728px auto 60px 0;
}

.u-block-296c-206 {
  font-weight: 700;
}

.u-section-2 .u-table-header-4 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-226 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-227 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-228 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-229 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-230 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-231 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-232 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-233 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-234 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-235 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-236 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-237 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-238 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-239 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-240 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-241 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-242 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-243 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-244 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-245 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-246 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-247 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-248 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-249 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-250 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-251 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-252 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-253 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-254 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-255 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-256 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-257 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-258 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-259 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-260 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-261 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-262 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-263 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-264 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-265 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-266 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-267 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-268 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-269 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-270 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-271 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-272 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-273 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-274 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-275 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-276 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-277 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-278 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-279 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-280 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-281 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-282 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-283 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-284 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-285 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-286 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-287 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-288 {
  font-weight: 700;
}

.u-block-296c-296 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 94px;
    margin-left: calc(((100% - 940px) / 2)  + 116px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -57px;
    margin-left: calc(((100% - 940px) / 2)  + 632px);
  }

  .u-section-2 .u-table-1 {
    width: 570px;
    margin-top: 55px;
  }

  .u-section-2 .u-table-2 {
    margin-right: calc(((100% - 940px) / 2)  + -30px);
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-left: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-2 .u-text-4 {
    margin-top: -18px;
    margin-left: calc(((100% - 940px) / 2)  + 594px);
  }

  .u-section-2 .u-table-3 {
    margin-top: 1px;
    margin-right: calc(((100% - 940px) / 2)  + -10px);
  }

  .u-section-2 .u-table-4 {
    width: calc(((100% - 940px) / 2)  + 541px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 116px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 412px);
  }

  .u-section-2 .u-table-2 {
    margin-right: calc(((100% - 720px) / 2)  + -30px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2)  + 136px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2)  + 374px);
  }

  .u-section-2 .u-table-3 {
    margin-right: calc(((100% - 720px) / 2)  + -10px);
  }

  .u-section-2 .u-table-4 {
    width: calc(((100% - 720px) / 2)  + 541px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 81px;
    margin-left: calc(((100% - 540px) / 2)  + 116px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -32px;
    margin-left: calc(((100% - 540px) / 2)  + 295px);
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-top: 42px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2)  + 90px);
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: -5px;
    margin-left: calc(((100% - 540px) / 2)  + 274px);
  }

  .u-section-2 .u-table-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2)  + -40px);
  }

  .u-section-2 .u-table-4 {
    width: calc(((100% - 540px) / 2)  + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2)  + 55px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 106px;
    margin-left: calc(((100% - 340px) / 2)  + 158px);
  }

  .u-section-2 .u-table-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-table-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2)  + 38px);
  }

  .u-section-2 .u-text-4 {
    margin-right: 98px;
    margin-left: calc(((100% - 340px) / 2)  + 131px);
  }

  .u-section-2 .u-table-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-table-4 {
    width: calc(((100% - 340px) / 2)  + 340px);
  }
} .u-section-3 {
  min-height: 692px;
}

.u-section-3 .u-list-1 {
  width: calc(((100% - 1140px) / 2)  + 251px);
  margin: 1px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 691px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 0 9px;
}

.u-section-3 .u-list-2 {
  width: 1204px;
  margin: -691px calc(((100% - 1140px) / 2)  + -13px) 8px auto;
}

.u-section-3 .u-repeater-2 {
  min-height: 684px;
  grid-auto-columns: 25%;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-text-5 {
  background-image: none;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-text-7 {
  background-image: none;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 7px 0 0 9px;
}

.u-section-3 .u-text-9 {
  background-image: none;
  margin: 7px 0 0 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 251px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-list-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-repeater-2 {
    min-height: 534px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 251px);
  }

  .u-section-3 .u-list-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-repeater-2 {
    min-height: 1636px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 251px);
  }

  .u-section-3 .u-list-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 251px);
  }

  .u-section-3 .u-list-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}